<!-- Ejercicio -->
<!-- Al hacer click en el heroe, a traves de comunicacion con componentes -->
<!-- Mostrar la informacion del heroe seleccionado en la derecha -->

<div class="container">
  <div class="row">
    <div class="col-sm col-md">
      <app-hero-list></app-hero-list>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm col-md">
      <app-hero-list-elements></app-hero-list-elements>
    </div>
  </div>
</div>

<!--
<app-heroes></app-heroes>
<app-pipes></app-pipes>
<p appCopyright></p>
<input appNumeric />
<div *appPermission="['admin', 'agent']">
  <h3>This area can be accessed by admins and agents only</h3>
</div>
-->